{{#partial "title"}}Terms{{/partial}}

{{#partial "content"}}

    <p class="terms">
        Designed and Developed By Chris Boich 2016 utilizing CSS files and requirements from
        <a target="_blank" href="http://www.teamtreehouse.com" class="treehouse-link">Team Treehouse </a>.
        Refer to my contact page for questions, concerns or assistance.
    </p>
{{/partial}}
{{>base.hbs}}